* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.top {
    background-color: #222327;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 40px 0 0 0;
    z-index: 1;
}

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 70px;
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding: 0 35px;
}

.navigation ul {
    display: flex;

}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.navigation ul li a .icon {
    position: relative;
    line-height: 75px;
    display: block;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #111;
}

.navigation ul li.active a .icon {
    transform: translateY(-35px);
}

.navigation ul li:not(.active):hover a .icon {
    transform: translateY(-15px);

}

.navigation ul li a .text {
    position: absolute;
    font-size: .75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    color: #111;
    font-weight: 400;
    opacity: 0;
    transform: translateY(20px);
    user-select: none;
}

.navigation ul li.active a .text,
.navigation ul li:hover a .text {
    transform: translateY(10px);
    opacity: 1;
}

.indicator {
    position: absolute;
    width: 70px;
    height: 70px;
    top: -50%;
    background-color: #0bfc03;
    border-radius: 50%;
    border: 6px solid #222327;
    box-sizing: border-box;
    transition: .35s;
}

.indicator::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: -22px;
    border-top-right-radius: 20px;
    box-shadow: 0 -10px 0 0 #222327;
}

.indicator::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: -22px;
    border-top-left-radius: 20px;
    box-shadow: 0 -10px 0 0 #222327;
}

.content {
    padding: 20px;

}

.content ul {
    display: flex;
    flex-direction: column;
}

.content ul li {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    color: black;
    border: 2px solid #222327;
}

.content ul li:hover {
    background-color: black;
    color: white;
}

.content ul li:hover span.final button {
    background-color: red;
}

.content ul li span {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content ul li span.final {
    display: flex;
    justify-content: center;
}

.content ul li span.final button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 0 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}

.content ul li span.final button:hover {
    width: 150px;
}

.content ul li span img {
    float: left;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 10px 20px 10px 10px;
}

.content ul li span ion-icon {
    font-size: 75px;
    float: left;
    margin: 10px 20px 10px 10px;
}

.content ul li span.final ion-icon {
    font-size: 20px;
    margin: 10px 10px 10px 10px;
}

.content .search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .search input {
    width: 70%;
    height: 60px;
    border: 3px solid #222327;
    border-radius: 10px;
    font-size: 1.5em;
    margin: 20px;
    text-align: center;
    transition: .5s;
}

.content .search input:hover,
.content .search input:focus {
    width: 80%;
}